.content {
    width: 300px;
    min-height: 200px;
    border: 1px solid #ccc;
    border-radius: 8px;
}

.users {
    width: 100%;
    border-bottom: 1px solid #ddd;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px 30px;

    &:hover {
        background: #eee;
    }

    &__username {
        font-size: 24px;
    }

    &__role {
        background: transparent;
    }

    &__delete {
        color: rgb(255, 114, 114);
        margin-right: 20px;

        &:hover {
            color: red;
        }
    }

}
