.member__card {
  height: 30rem;

  &__img {
    width: 100%;
    height: 20%;

    img {
      width: 100%;
      height: 100%;
    }
  }
  &__post {
  }
  &__fullname {
  }
  &__description {
  }
}
