@import "/src/assets/scss/colors.scss";

.description {
  min-height: 24rem;
  width: 100%;
  

  &-wrapper {
    width: 91.66%;
    min-height: 24rem;
  }
}

.description__title {
  font-family: "Mak Light";
  font-size: 22px;
  font-weight: 400;
}

.description__specification {
  font-family: "Open Sans";
  font-size: 50px;
  font-weight: 600;
  margin-bottom: 80px;
  text-align: center;
}
.description__cards {
  width: 90%;
  height: max-content;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
  align-items: center;
  justify-content: space-between;
  @media (max-width: 1725px) {
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
  }
  @media (max-width: 885px) {
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
  }
}
.description__card {
  min-height: 22rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__title {
    font-family: "Open Sans ";
    font-size: 30px;
    font-weight: 700;
  }
  &__info {
    font-family: "Open Sans ";
    font-size: 20px;
    font-weight: 500;
    text-align: center;
    max-width: 400px;
  }
  @media (max-width: 660px) {
    width: 100%;
  }
}
