$white: #ffffff;
$skin: #e2d7d3;
$blue: #7daae3;
$blue-accent: #7994c2;
$black: #000000;
$gray-soft: #f0effa;
$blue-verysoft: #f4f7fe;

$black-soft: #1f1f1f;
$grad: linear-gradient(90deg, rgba(125, 170, 227) 0%, rgba(226, 215, 211) 100%);
$grad-reverse: linear-gradient(
  90deg,
  rgba(226, 215, 211) 0%,
  rgba(125, 170, 227) 100%
);
